/*projects */ 
.gpt3__project {
  display: flex;
  flex-direction: column;    
}

.gpt3__project-heading {
  width: 100%;
  text-align: left;

  margin-bottom: 5rem;
}

.gpt3__project-heading h1 {
  font-size: 42px;
 /* line-height: 75px;*/
  font-family: var(--font-family);
  font-weight: 800;
  text-align: center;
  margin-top: 1rem;
}

.gpt3__project-container {
  display: flex;
  flex-direction: row;
}

.gpt3__project-container_groupB {
  flex: 1;

  display:grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

@media screen and (max-width: 990px) {
  .gpt3__project-container {
      flex-direction: column-reverse;
  }


  .gpt3__project-container_groupA {
      margin: 2rem 0;
  }

  .gpt3__project-container_groupA .gpt3__project-container_project  {
     width: 48%;
  }

  .gpt3__project-container_groupA .gpt3__project-container_project-image {
      height: 250px;
  }
}

@media screen and (max-width: 700px) {
  .gpt3__project-container_groupB {
      grid-template-columns: repeat(1, 1fr);
  }

  .gpt3__project-container_groupA .gpt3__project-container_project  {
     width: 100%;
  }

  .gpt3__project-heading h1 {
      font-size: 46px;
      line-height: 52px;
  }
}

@media screen and (max-width: 550px) {
  .gpt3__project-heading h1 {
      font-size: 34px;
      line-height: 42px;
  }

}

/* project */ 
.gpt3__project-container_project {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  background: var(--color-footer);
}

.gpt3__project-container_project-image {
  width: 100%;
  height: 100%;
  background: var(--color-bg);
}

.gpt3__project-container_project-image img {
  width: 100%;
  height: 100%;
}

.gpt3__project-container_project-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  padding: 1rem 1.5rem;
  height: 100%;
}

.gpt3__project-container_project-content p {
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 35px;

  color: #fff;
}

.gpt3__project-container_project-content h3 {
  font-family: var(--font-family);
  font-size: 25.11px;
  font-weight: 800;
  line-height: 30.30px;
  
  color: #fff;
  margin-bottom: 5rem;
  cursor: pointer;
}

.gpt3__project-container_project-content p:last-child {
  cursor: pointer;
}


@media screen and (max-width: 550px) {
  .gpt3__project-container_project-content h3 {
      font-size: 18px;
      line-height: 25p;
  }
}